.btn-grad {
    background-image: linear-gradient(to right, #ec5628 0%, #b64625 100%);
    margin: 10px;
    padding: 10px 10px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    cursor: pointer;
    float: left;
    border: none;
}

.btn-error {
    background-image: linear-gradient(to right, rgba(207, 11, 11, 1) 0%, rgba(185, 180, 4, 1) 100%);
}

.btn-grad:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}
